################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FlowcentricAssessment/obj
/FlowcentricAssessment/bin/Debug/net8.0
